version: '3.1'
services:
  db:
    image: mysql:5.6
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: password123
      MYSQL_DATABASE: mshop
    ports:
      - "3306:3306"
    volumes:
      - /home/ubuntu/volume:/var/lib/mysql
      - ./db:/docker-entrypoint-initdb.d/:ro

  app:
    build: ./
    depends_on:
      - db
    image: DOCKER_REGISTRY:IMAGE_TAG
    container_name: ecomapp_new2
    ports:
      - "5600:80"